// Mixins Here

.nav-styles() {
  width: 100%;
  background-color: #fbfbfb;
  border-bottom: 1px solid @main-border-color;
}

.nav-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80rem;
  margin: auto;
}
